@model ReadersDelightWeb.Models.RegisterViewModel
@{
    Layout = "_LayoutNoNavbar";
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .registration-title{
            margin-top: 30px;
        }
        .register-container {
            max-width: 400px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-top: 30px;
            margin-left: 0px;
        }
    </style>
</head>
<body>

<div class="containter">
    <h2 class="registration-title">Registration Form</h2>
    <div class="register-container">
        <form asp-controller="Account" asp-action="Register" method="post" class="registration-form">
        <div class="form-group">
            <label asp-for="Username">Enter Username : </label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
             <label asp-for="Username">Enter Email : </label>
             <input asp-for="Username" class="form-control" />
             <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    <!-- Add more form fields for other registration details -->
    <button type="submit" class="btn btn-primary">Register</button>
    </form>
    </div>
</div>
</body>
